@{
    ViewBag.Title = "Contact";
}

@* input tipo color *@
@* boton *@

<input id="color" type="color" />
<button onclick="CambioColorJQ()">CLIC</button>


<script>

    function CambioColor() {
        var color = document.getElementById("color").value;
        document.body.style.background = color
    }


    function CambioColorJQ() {
        var color = $("#color").val()
        $('body').css('background',color)

    }


</script>